AUTH_TRUST_HOST=true
AUTH_SECRET=<32-character-random-string>

PUBLIC_URL=http://localhost:4321

PUBLIC_SITE_NAME=Astro Store
PUBLIC_SITE_DESCRIPTION=An e-commerce demo built with Astro

# https://console.cloudinary.com/app/c-c49076e52023c7ba584d6075172202/settings/api-keys
CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>